.App {
  text-align: center;
}
.content-container {
  display: flex;
  flex-direction: row;
  height: 91vh;
  padding: 32px 32px 32px 32px;
  background-color: #c9edf7;
}

.google-map-image-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 368px;
  border: 2px solid;
  border-radius: 4px;
  margin-right: 32px;
}

.map-container {
  height: 50%;
  margin-bottom: 16px;;
  border-radius: 4px;
}
iframe{ 
  height: 99%;
  border: none;
  width: 65%;
  border: 2px solid;
  border-radius: 4px;
}

.image{
  height: 95%;
  width: 368px;
  border-radius: 4px;
}

.logo{
  height: 20%;
  width: 120px;
  border-radius: 4px;
  margin: auto;
}

.link{
  height: 40%;
}
.contact{
  height: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
